:host {
  display: flex;
  width: 100%;

  .example-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 2px;
    width: 100%;
  }
  .spacer {
    flex: 1 1 auto;
  }
    mat-card-header {
      height: 110px;
  }

  @media only screen and (min-width: 600px) and (max-width: 1919.98px) {
    .example-card {
      width: 232px;
    }
  }
}
