
.blog-container {
  width: 1010px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

}
@media screen and (max-width: 1010px) {
  .blog-container {
    width: 760px;
  }
}
